.load-more-button {
    margin-left: 20%;
    margin-top: 1.5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #3D1579;
    border-radius: 3px;
    color: white;
    font-size: 1.2rem;
    font-family: Avenir, Lato, sans-serif;
    box-shadow: 0px 3px rgb(32, 7, 70);
    border: none;
    transition: .2s ease-in-out;
}
.load-more-button:hover {
    cursor: pointer;
    opacity: .9;
    transition: .2s ease-in-out;
}