.header {
    background-color: #f6f9fc;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    height: min-content;
    display: flex;
    flex-direction: row;
}
.header-cards-wrapper {
    display: flex;
    flex: 1.2;
    flex-direction: column;
    border: 1px solid #333;
}
.header-card {
    height: 250px;
    margin-top: 15px;
    /* border: 1px solid #333; */
    padding-bottom: 25px;
    background-color: #fff;
    color: #404040;
}
.header-card__title {
    font-size: 1.3rem;
    color: #404040;
    font-weight: 900;
    font-family: Lato;
    margin-left: 5%;
    margin-top: 5%;
}
.header-chart-wrapper {
    display: flex;
    flex: 3.5;
    border: 1px solid rgb(78, 62, 62);
}