/* .table-wrapper {
    border: 1px solid red;
} */
.table {
    margin-top: 7vh;
    margin-left: 22.5%;
    width: 55%;
    background-color: #fff;
    border-collapse:collapse;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(24, 24, 24, 0.1);
}
thead {
    background-color: #F5F5F5;
    font-size: .95rem;
}
th {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
}