.table {
    margin-top: 7vh;
    margin-left: 22.5%;
    width: 55%;
    background-color: #fff;
    border-collapse:collapse;
    border: 1px solid rgba(128, 128, 128, .4);
    border-radius: 5px;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 20vh;
}
thead {
    background-color: #F5F5F5;
    font-size: .95rem;
}
th {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;
}